body {
  font-family: "Coda", cursive;
  color: #2e3d49;
}

a {
  color: #2e3d49;
}

a:hover {
  color: #2e3d49;
}

/*
 * Styles for the deck of cards
 */

.deck {
  background: linear-gradient(160deg, #365ecc 0%, #cf3f3f 100%);
  padding: 5px 0 5px 0;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.deck .card {
  height: 120px;
  width: 100px;
  background: #2e3d49;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  margin: 5px;
}

.deck .card img {
  display: none;
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
  pointer-events: none;
}

.deck .card.open img {
  display: flex;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  pointer-events: none;
}

.deck .card.not-match {
  cursor: default;
  background: #cc0256;
  pointer-events: none;
}

.deck .card.open,
.card.match img {
  display: flex;
}

/*
 * Styles for card animation
 */

.shake-card {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(3deg);
  }
  20% {
    transform: translate(-1px, -1px) rotate(-3deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(3deg);
  }
  60% {
    transform: translate(-1px, -1px) rotate(-3deg);
  }
  80% {
    transform: translate(1px, 1px) rotate(3deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.squash-card {
  animation: squash 0.5s;
  animation-iteration-count: 1;
}

@keyframes squash {
  100% {
    transform: scale(1.1, 0.9);
  }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .stars .star-enabled {
  color: #ffd700;
}

.score-panel .stars .star-disabled {
  color: #fdf5c5;
}

.score-panel .moves,
.time {
  text-align: right;
  display: inline-block;
}

/*
 * Styles for the footer
 */

.footer-text {
  font-size: 12px;
}
